
#controllers {
  width: 600px;
  font-size: 0.8em;
  color: #333;
}
#paint {
  border: 1px solid #000;
  background: #fff;
}
.controller {
  display: inline-block;
  background: #eee;
  border: 1px solid #e7e7e7;
  padding: 5px;
}
input[type="file"] {
  display: none;
}

img {
  display: inline-block;
  border: 1px solid #eaeaea;
  height: 35px;
  width: 35px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
#location {

  display:inline-block;
  margin-top: 0px;
  margin-left: 5px;
}
#sketch {
	border: 10px solid gray;
	height: 100%;
	position: relative;
}
#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}

#text_tool {
	position: absolute;
	border: 1px dashed black;
	outline: 0;
	display: none;
	
	font: 10px Verdana;
	overflow: hidden;
	white-space: nowrap;
}